a {
  color: blue;
}

body {
  font-family: Helvetica;
  background-color: white;
}

.container {
  background-color: oldlace;
  width: 800px;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 10px;
  min-height: 500px;
}

.header {
  /*text-align: center;*/
}

.center {
  text-align: center;
}


.sidebar {
  width: 200px;
  float: right;
  background-color: lightgreen;
  clear: both;
  height: 100%;
}

tr {
  margin: 15px;
}

tr:hover {
  background-color: white;
}

a {
  text-decoration: none;
}

td a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.hiddendiv {
  display: none;
}

.resources {
  list-style-type: none;
}

.resources li a {
  text-decoration: none;
}

.resources li a:hover {
  color: red;
}

#main {
  text-decoration: none;\
}

#main a:hover {
  color: red;
}

main {
  padding: 10px;
}

#clear {
  clear: both;
}

#feedback {
  float: left;
  width: 40%;
}

#list {
  float: left;
  width: 50%;
}

#submit button:hover {
  background-color: red;
}

#frontpage_links ul {
  list-style-type: none;
}

#frontpage_links ul li {
  padding: 5px;
}

#frontpage_links ul li a:hover {
  color: red;
}

.hiddeninput {
  display: none;
}
