<p id='pd'>test</p>

<form>
  <input id='drinking' type='checkbox'>Drinking<br>
  <input id='rudeness' type='checkbox'>Rudeness<br>
  <input id='force' type='checkbox'>Excessive force<br>
</form>

<div class='hiddendiv' id='drinkingdiv'>
<h2>Drinking</h2>
<ul>
<li><a href='http://www.google.com'>Link1</a></li>
<li><a href='http://www.google.com'>Link2</a></li>
<li><a href='http://www.google.com'>Link2</a></li>
</ul>
</div>

<div class='hiddendiv' id='rudenessdiv'>
<h2>Rudeness</h2>
<ul>
<li><a href='http://www.google.com'>Link1</a></li>
<li><a href='http://www.google.com'>Link2</a></li>
<li><a href='http://www.google.com'>Link2</a></li>
</ul>
</div>

<div class='hiddendiv' id='forcediv'>
<h2>Force</h2>
<ul>
<li><a href='http://www.google.com'>Link1</a></li>
<li><a href='http://www.google.com'>Link2</a></li>
<li><a href='http://www.google.com'>Link2</a></li>
</ul>
</div>
