<div class='sidebar'>
<table>
<tr><th>Tag</th><th>Count</th></tr>
<tr>
  <td>tag.name</td><td>count</td>
</tr>
<tr>
  <td>tag.name</td><td>count</td>
</tr><tr>
  <td>tag.name</td><td>count</td>
</tr>
</table>
</div>


<h1 class='header center'>Warrnt</h1>
<p class='center'>This will be text about the purpose of the app</p>
<h3>What to know before filing a complaint</h3>
  <ul>
    <li>Resources go here</li>
    <li>Resources go here</li>
  </ul>

<a href='/complaint/new'>File a complaint</a>
